.idea/

# Logs
logs/
*.log

# Dependencies
node_modules/

# Coverage
.nyc_output/

# Project files
/examples/
/src/
.travis.yml
.editorconfig
.gitignore
package-lock.json
tsconfig.json
tslint.json

# Build
*.tgz
